<div class="container">
 <h2 class="w-100 text-center">Про нас</h2>
  <p class="text-justify">
    Цей блог був розроблений під час навчального процесу і призначений для вивчення мови програмування
    Ruby. отриманий досвід буде дуже корисним мені в майбутньому.
    <br/>
    Для отримання отримання інформації щодо сайту або повідомлення про помилки зверніться до адміністратора (телеграм @Mr_Andrii_H)
  </p>
</div>