<div class="container">
  <h1 class="text-center">Редагування поста</h1>
  <%= render 'form', post: @post %>
<div class="container text-center p-2">
  <%= link_to 'Показати пост', @post, class: "btn btn-secondary" %> |
  <%= link_to 'Назад', posts_path, class: "btn btn-primary" %>
</div>

</div>



