#header{
  font-size: large;
  font-weight: bold;

}
#navigationbar{
  height: 10%;
}
#link{
  font-size: large;
  color: black;
  padding: 1em 1em 1em 0em;
}
#link a:hover{
  color: blue !important;
}