<footer class="page-footer bg-warning p-2" id="footer">
  <div class="container-fluid">
    <div class="row text-center p-3">
      <div class="col sm-12">
        <!-- Facebook -->
        <a class="fb-ic" href="https://www.facebook.com/profile.php?id=100009082774096">
          <i class="fa fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
        </a>
        <!-- Telegram -->
        <a class="tw-ic" href="https://t.me/Mr_Andrii_H">
          <i class="fa fa-telegram fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
        </a>
        <!--Instagram-->
        <a class="ins-ic" href="https://www.instagram.com">
          <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
        </a>
      </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center pb-2">
      <span>© 2020 Copyright: <a href="https://simpledevblog.herokuapp.com/">Simpleblog</a></span>
    </div>
  </div>



</footer>